In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from scipy.sparse import *
from scipy.sparse.linalg import svds
import math

from recsys.preprocess import *
from recsys.utility import *

RANDOM_STATE = 2342

np.random.seed(RANDOM_STATE)

%matplotlib inline

In [2]:
train = pd.read_csv('data/train_final.csv', delimiter='\t')
playlists = pd.read_csv('data/playlists_final.csv', delimiter='\t')
target_playlists = pd.read_csv('data/target_playlists.csv', delimiter='\t')
target_tracks = pd.read_csv('data/target_tracks.csv', delimiter = '\t')
tracks = pd.read_csv('data/tracks_final.csv', delimiter='\t')

In [ ]:
def reduce_train(train, to_keep=0.8):
    # shuffle train index
    train.drop(range(int(len(train)*to_keep))).head()
    
#train = reduce_train(train, to_keep=0.5)

In [3]:
train, test, target_playlists, target_tracks = train_test_split(train, test_size=0.30, min_playlist_tracks=10)

In [4]:
tracks['track_id_tmp'] = tracks['track_id']

tracks['track_id'] = tracks.index

playlists['playlist_id_tmp'] = playlists['playlist_id']
playlists['playlist_id'] = playlists.index

train['playlist_id_tmp'] = train['playlist_id']
train['track_id_tmp'] = train['track_id']

track_to_num = pd.Series(tracks.index)
track_to_num.index = tracks['track_id_tmp']

playlist_to_num = pd.Series(playlists.index)
playlist_to_num.index = playlists['playlist_id_tmp']

num_to_tracks = pd.Series(tracks['track_id_tmp'])


train['track_id'] = train['track_id'].apply(lambda x : track_to_num[x])
train['playlist_id'] = train['playlist_id'].apply(lambda x : playlist_to_num[x])

In [5]:
tracks.tags = tracks.tags.apply(lambda s: np.array(eval(s), dtype=int))

In [ ]:
playlists.title = playlists.title.apply(lambda s: np.array(eval(s), dtype=int))

In [6]:
tracks.loc[0].tags

array([ 54087,   1757,   1718, 116712, 189631])

In [7]:
tracks.head()

,track_id,artist_id,duration,playcount,album,tags,track_id_tmp
0,0,144,224000,49.0,[7],"[54087, 1757, 1718, 116712, 189631]",2972914
1,1,246,157000,1.0,[8],"[189631, 3424, 177424, 46208, 205245]",2750239
2,2,144,217000,554.0,[9],"[54087, 109806, 46869, 183258, 54337]",1550729
3,3,144,207000,200.0,[9],"[54087, 70618, 207003, 109806, 116712]",2169950
4,4,144,198000,5.0,[None],"[54087, 81223, 116712, 215342, 71028]",1903709

In [8]:
playlists.head()

,created_at,playlist_id,title,numtracks,duration,owner,playlist_id_tmp
0,1216545588,0,[12727],27,6522,41504,644838
1,1249326867,1,[],9,2650,41504,7577564
2,1257766688,2,[183],16,3645,44542,3120683
3,1248079275,3,"[12389, 18698, 18925, 11695, 7117]",15,4151,44542,4278112
4,1175201268,4,"[12809, 2095, 13257, 12671, 20426, 14448, 18698]",84,18414,44542,8656823

In [9]:
train.head()

   playlist_id  track_id  playlist_id_tmp  track_id_tmp
0         5501     65131          3271849       2801526
1        46691     90762          5616275        727878
3          402     37363         10103900       1515105
4        28466     84016          3836898       2945623
5        23632     26065          5270369       2821391

In [10]:
track_to_num.head()

track_id_tmp
2972914    0
2750239    1
1550729    2
2169950    3
1903709    4
dtype: int64

In [11]:
playlist_to_num[:5]

playlist_id_tmp
644838     0
7577564    1
3120683    2
4278112    3
8656823    4
dtype: int64

In [12]:
num_to_tracks[:5]

0    2972914
1    2750239
2    1550729
3    2169950
4    1903709
Name: track_id_tmp, dtype: int64

In [13]:
target_playlists['playlist_id_tmp'] = target_playlists['playlist_id']
target_playlists['playlist_id'] = target_playlists['playlist_id'].apply(lambda x : playlist_to_num[x])

target_tracks['track_id_tmp'] = target_tracks['track_id']
target_tracks['track_id'] = target_tracks['track_id'].apply(lambda x : track_to_num[x])

In [14]:
target_tracks.head()

   track_id  track_id_tmp
0     44292         527.0
1     81953         667.0
2     11782         874.0
3     61792        1450.0
4     20686        2352.0

In [15]:
target_playlists.head()

   playlist_id  playlist_id_tmp
0        27008          8783912
1        15351         10755431
2        39931          4366846
3        57170          5766032
4        36487          5253992

In [16]:
playlist_tracks = pd.DataFrame(train['playlist_id'].drop_duplicates())
playlist_tracks.index = train['playlist_id'].unique()
playlist_tracks['track_ids'] = train.groupby('playlist_id').apply(lambda x : x['track_id'].values)
playlist_tracks = playlist_tracks.sort_values('playlist_id')

In [17]:
playlist_tracks.head()

   playlist_id                                          track_ids
0            0  [45626, 45865, 63716, 82189, 85085, 29862, 881...
1            1         [76252, 34102, 71429, 71433, 63708, 20189]
2            2  [78331, 77629, 76454, 47409, 58892, 75023, 38754]
3            3  [58886, 67979, 61169, 15486, 48141, 73222, 632...
4            4  [51958, 66515, 99106, 33273, 9083, 41552, 9020...

In [18]:
track_playlists = pd.DataFrame(train['track_id'].drop_duplicates())
track_playlists.index = train['track_id'].unique()
track_playlists['playlist_ids'] = train.groupby('track_id').apply(lambda x : x['playlist_id'].values)
track_playlists = track_playlists.sort_values('track_id')

In [19]:
track_playlists.head()

   track_id                                       playlist_ids
0         0  [40622, 6896, 23639, 22163, 13179, 34564, 4855...
1         1  [53383, 53366, 55805, 25094, 45977, 53378, 961...
2         2  [11101, 40372, 49479, 27385, 40621, 54319, 546...
3         3  [44104, 53823, 50424, 39587, 54319, 6896, 2216...
4         4                       [50423, 22163, 40622, 18519]

In [20]:
def transform_album_1(alb):
    ar = eval(alb)
    if len(ar) == 0 or (len(ar) > 0 and ar[0] == None):
        ar = [-1]
    return ar[0]

def transform_album_2(alb):
    global next_album_id
    if alb == -1:
        alb = next_album_id
        next_album_id += 1
    return alb
    
tracks.album = tracks.album.apply(lambda alb: transform_album_1(alb))

last_album = tracks.album.max()
next_album_id = last_album + 1

tracks.album = tracks.album.apply(lambda alb: transform_album_2(alb))

# Build URM

In [21]:
# User Rating Matrix URM
def get_URM(tracks, playlists, playlist_tracks, track_playlists, normalized=False):
    URM = lil_matrix((len(playlists), len(tracks)))
    num_playlists = len(playlist_tracks)

    i = 0
    
    for row in track_playlists.itertuples():
        track_id = row.track_id
        #row.playlist_ids.sort()
        nq = len(row.playlist_ids)
        for pl_id in row.playlist_ids:
            URM[pl_id,track_id] = math.log((num_playlists - nq + 0.5)/(nq + 0.5)) if normalized else 1
        if i % 1000 == 0:
            print(i)
        i += 1
    
    return URM

In [22]:
%%time
URM = get_URM(tracks, playlists, playlist_tracks, track_playlists, normalized=True)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
CPU times: user 12.7 s, sys: 212 ms, total: 12.9 s
Wall time: 13 s

# SVD

### SVD decomposition of URM

In [ ]:
URM = URM.tocsc()

In [ ]:
%%time
U, S, V = svds(URM, k=200)

In [ ]:
S = np.diag(S)

In [ ]:
M2 = np.dot(S, V)

Normalized:<br>
k = 50 -> 0.012786324786324807<br>
k = 200 -> 0.024994972347913386<br>
k = 500 -> 0.0353849999999999

### Tags

In [ ]:
# Count distinct tags
tag_tracks = {}
for row in tracks.itertuples():
    for tag in row.tags:
        if tag in tag_tracks:
            tag_tracks[tag].append(row.track_id)
        else:
            tag_tracks[tag] = [row.track_id]

In [ ]:
# Item Tag Matrix ITM
def get_ITM(tracks, tag_tracks, normalized=False):
    unique_tags = list(tag_tracks.keys())
    ITM = lil_matrix((len(tracks), max(unique_tags)+1))
    ITM_count = lil_matrix((len(tracks), max(unique_tags)+1))
    
    num_tracks = len(tracks)
    i = 0
    
    for tag,track_ids in tag_tracks.items():
        #row.playlist_ids.sort()
        nq = len(track_ids)
        for track_id in track_ids:
            ITM[track_id,tag] = math.log((num_tracks - nq + 0.5)/(nq + 0.5)) if normalized else 1
            ITM_count[track_id,tag] = 1
        if i % 1000 == 0:
            print(i)
        i += 1
    
    return ITM

In [ ]:
ITM = get_ITM(tracks, tag_tracks, normalized=True)

In [ ]:
"""def create_row(row_num, tags_concatenated):
    tags_concatenated.sort()
    d = np.array([])
    r = np.array([])
    c = np.array([])
    for i,tag in enumerate(tags_concatenated):
        if i > 0 and tags_concatenated[i-1] == tags_concatenated[i]:
            d[-1] += 1
        else:
            d = np.append(d,1)
            r = np.append(r,row_num)
            c = np.append(c,tags_concatenated[i])
    return d, (r, c)
"""

# User Tag Matrix UTM
def get_UTM(tracks, playlist_tracks, tag_tracks, OKAPI_K=1.7, OKAPI_B=0.75):
    unique_tags = list(tag_tracks.keys())
    
    i = 0
    """
    d = np.array([])
    r = np.array([])
    c = np.array([])
    for row in playlist_tracks.itertuples():
        pl_id = row.playlist_id
        tags_concatenated = np.array([])
        for tr_id in row.track_ids:
            tags = tracks.loc[tr_id].tags
            tags_concatenated = np.concatenate((tags_concatenated, tags))
        d1, (r1, c1) = create_row(row.playlist_id, tags_concatenated)
        
        d = np.concatenate((d, d1))
        r = np.concatenate((r, r1))
        c = np.concatenate((c, c1))
        
        i += 1
        if i % 1000 == 0:
            print(i)
    UTM = coo_matrix(d, (r, c))
    """
    UTM = lil_matrix((max(playlists.playlist_id)+1, max(unique_tags)+1))
    for row in playlist_tracks.itertuples():
        pl_id = row.playlist_id
        for tr_id in row.track_ids:
            for tag in tracks.loc[tr_id].tags:
                UTM[pl_id,tag] += 1
                
        i += 1
        if i % 1000 == 0:
            print(i)
    
    avg_document_length = sum(list(map(lambda l: sum(l), UTM.data)))/len(UTM.data)
    
    i = 0
    
    for row in playlist_tracks.itertuples():
        pl_id = row.playlist_id
        tags = UTM.rows[pl_id]
        data = UTM.data[pl_id]
        for tag in tags:
            fq = UTM[pl_id,tag]
            UTM[pl_id,tag] = (fq*(OKAPI_K+1))/(fq + OKAPI_K*(1 - OKAPI_B + OKAPI_B * sum(data) / avg_document_length))
        i += 1
        if i % 1000 == 0:
            print(i)
    
    return UTM

In [ ]:
len(playlist_tracks)

In [ ]:
UTM = get_UTM(tracks, playlist_tracks, tag_tracks)

In [ ]:
UTM_csc = UTM.tocsc()

In [ ]:
ITM_csr_transpose = ITM.tocsr().transpose()

### Artists

In [ ]:
unique_artists = tracks.artist_id.unique()

In [ ]:
# Item Artist Matrix
def get_IAM(tracks, normalized=False):
    unique_artists = tracks.artist_id.unique()
    IAM = lil_matrix((len(tracks), max(unique_artists)+1))
    
    num_tracks = len(tracks)
    i = 0
    
    for row in tracks.itertuples():
        nq = 1
        IAM[row.track_id,row.artist_id] = math.log((num_tracks - nq + 0.5)/(nq + 0.5)) if normalized else 1
        if i % 1000 == 0:
            print(i)
        i += 1
    
    return IAM

In [ ]:
IAM = get_IAM(tracks, normalized=True)

In [ ]:
# User Artist Matrix UAM
def get_UAM(tracks, playlist_tracks, OKAPI_K=1.7, OKAPI_B=0.75):
    unique_artists = tracks.artist_id.unique()
    
    i = 0

    UAM = lil_matrix((max(playlists.playlist_id)+1, max(unique_artists)+1))
    for row in playlist_tracks.itertuples():
        pl_id = row.playlist_id
        for tr_id in row.track_ids:
            UAM[pl_id,tracks.loc[tr_id].artist_id] += 1
                
        i += 1
        if i % 1000 == 0:
            print(i)
    
    avg_document_length = sum(list(map(lambda l: sum(l), UAM.data)))/len(UAM.data)
    
    i = 0
    
    for row in playlist_tracks.itertuples():
        pl_id = row.playlist_id
        artists = UAM.rows[pl_id]
        data = UAM.data[pl_id]
        for artist in artists:
            fq = UAM[pl_id,artist]
            UAM[pl_id,artist] = (fq*(OKAPI_K+1))/(fq + OKAPI_K*(1 - OKAPI_B + OKAPI_B * sum(data) / avg_document_length))
        i += 1
        if i % 1000 == 0:
            print(i)
    
    return UAM

In [ ]:
UAM = get_UAM(tracks, playlist_tracks, OKAPI_K=1.7, OKAPI_B=0.75)

In [ ]:
UAM_csc = UAM.tocsc()
IAM_csr_transpose = IAM.tocsr().transpose()

### Albums

In [26]:
unique_albums = tracks.album.unique()
unique_albums

array([     7,      8,      9, ..., 244079, 244080, 244081])

In [27]:
# Item Album Matrix IAM_album
def get_IAM_album(tracks, normalized=False):
    unique_albums = tracks.album.unique()
    IAM_album = lil_matrix((len(tracks), max(unique_albums)+1))
    
    num_tracks = len(tracks)
    i = 0
    
    for row in tracks.itertuples():
        nq = 1
        IAM_album[row.track_id,row.album] = math.log((num_tracks - nq + 0.5)/(nq + 0.5)) if normalized else 1
        if i % 1000 == 0:
            print(i)
        i += 1
    
    return IAM_album

In [28]:
IAM_album = get_IAM_album(tracks, normalized=True)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000

In [29]:
# User Album Matrix UAM_album
def get_UAM_album(tracks, playlist_tracks, OKAPI_K=1.7, OKAPI_B=0.75):
    unique_albums = tracks.album.unique()
    
    i = 0

    UAM_album = lil_matrix((max(playlists.playlist_id)+1, max(unique_albums)+1))
    for row in playlist_tracks.itertuples():
        pl_id = row.playlist_id
        for tr_id in row.track_ids:
            UAM_album[pl_id,tracks.loc[tr_id].album] += 1
                
        i += 1
        if i % 1000 == 0:
            print(i)
    
    avg_document_length = sum(list(map(lambda l: sum(l), UAM_album.data)))/len(UAM_album.data)
    
    i = 0
    
    for row in playlist_tracks.itertuples():
        pl_id = row.playlist_id
        albums = UAM_album.rows[pl_id]
        data = UAM_album.data[pl_id]
        for album in albums:
            fq = UAM_album[pl_id,album]
            UAM_album[pl_id,album] = (fq*(OKAPI_K+1))/(fq + OKAPI_K*(1 - OKAPI_B + OKAPI_B * sum(data) / avg_document_length))
        i += 1
        if i % 1000 == 0:
            print(i)
    
    return UAM_album

In [ ]:
UAM_album = get_UAM_album(tracks, playlist_tracks, OKAPI_K=1.7, OKAPI_B=0.75)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000

In [ ]:
UAM_album_csc = UAM_album.tocsc()
IAM_album_csr_transpose = IAM_album.tocsr().transpose()

### Playlist titles

In [23]:
# Count distinct title tokens
token_playlists = {}
for row in playlists.itertuples():
    for token in row.title:
        if token in token_playlists:
            token_playlists[token].append(row.playlist_id)
        else:
            token_playlists[token] = [row.playlist_id]

In [24]:
# User Title Matrix UTM
def get_UTM(playlists, token_playlists, normalized=False):
    unique_tokens = list(token_playlists.keys())
    UTM = lil_matrix((len(playlists), max(unique_tokens)+1))
    
    num_playlists = len(playlists)
    i = 0
    
    for token,playlist_ids in token_playlists.items():
        nq = len(playlist_ids)
        for playlist_id in playlist_ids:
            UTM[playlist_id,token] = math.log((num_playlists - nq + 0.5)/(nq + 0.5)) if normalized else 1
        if i % 1000 == 0:
            print(i)
        i += 1
    
    return UTM

In [25]:
UTM = get_UTM(playlists, token_playlists, normalized=True)

TypeError: must be str, not int

### Predictions

In [ ]:
ALPHA = 1
BETA = 0.03
GAMMA = 1

In [ ]:
def make_predictions(test=None, compute_MAP=False):
    predictions = pd.DataFrame(target_playlists)
    predictions.index = target_playlists['playlist_id']
    predictions['track_ids'] = [np.array([]) for i in range(len(predictions))]
    ttracks = set(target_tracks['track_id'].values)
    test_good = get_playlist_track_list2(test)
    test_good.index = test_good.playlist_id.apply(lambda pl_id: playlist_to_num[pl_id])
    
    counter = 0
    mean_ap = 0
    
    for _,row in target_playlists.iterrows():
        # Compute predictions for current playlist
        pred = []
        pl_id = row['playlist_id']
        pl_tracks = set(playlist_tracks.loc[pl_id]['track_ids'])
        #simil = ALPHA * np.array(np.dot(UTM_csc[pl_id,:], ITM_csr_transpose).todense())[0]
        #simil += BETA * np.dot(U[pl_id,:], M2)
        #simil = np.array(np.dot(UAM_csc[pl_id,:], IAM_csr_transpose).todense())[0]
        simil = np.array(np.dot(UAM_album_csc[pl_id,:], IAM_album_csr_transpose).todense())[0]
        sorted_ind = simil.argsort()
        i = len(sorted_ind) - 1
        c = 0
        while i > 0 and c < 5:
            if (sorted_ind[i] in ttracks) and (sorted_ind[i] not in pl_tracks):
                pred.append(num_to_tracks[sorted_ind[i]])
                c+=1
            i-=1
        predictions.loc[row['playlist_id']] = predictions.loc[row['playlist_id']].set_value('track_ids', np.array(pred))

        # Update MAP
        if compute_MAP:
            correct = 0
            ap = 0
            for it, t in enumerate(pred):
                if t in test_good.loc[pl_id]['track_ids']:
                    correct += 1
                    ap += correct / (it+1)
            ap /= len(pred)
            mean_ap += ap
        
        counter += 1
        if counter % 1000 == 0:
            print(counter)
            if compute_MAP:
                print(mean_ap / counter)
    predictions['playlist_id'] = predictions['playlist_id_tmp']
    return predictions

In [ ]:
playlists.head()

In [ ]:
len(playlists)

In [ ]:
len(playlist_tracks)

In [ ]:
len(playlists.playlist_id.isin(playlist_tracks.playlist_id))

In [ ]:
sum(playlists.playlist_id.isin(playlist_tracks.playlist_id))

In [ ]:
target_playlists.head()

In [ ]:
#%%time
predictions = make_predictions(test=test, compute_MAP=True)

Only IDF:
only tags: 0.03875599999999971<br>
ALPHA = 1, BETA = 0.01: 0.04566888888888885<br>
ALPHA = 1, BETA = 0.05: 0.04568777777777774<br>
ALPHA = 1, BETA = 0.2: 0.0426622222222219<br>

Okapi:
only tags: 0.03896722222222187<br>

# SVD supervised

In [ ]:
def from_num_to_id(df, row_num, column = 'track_id'):
    """ df must have a 'track_id' column """
    return df.iloc[row_num][column]

def from_id_to_num(df, tr_id, column='track_id'):
    """ df must have a 'track_id' column """
    return np.where(df[column].values == tr_id)[0][0]

In [ ]:
def build_id_to_num_map(df, column):
    a = pd.Series(np.arange(len(df)))
    a.index = df[column]
    return a

def build_num_to_id_map(df, column):
    a = pd.Series(df[column])
    a.index = np.arange(len(df))
    return a

In [ ]:
N_FEATURES = 5
N_EPOCHS = 5

In [ ]:
userValue = np.zeros((URM.shape[0], N_FEATURES))
userValue += 0.1

In [ ]:
itemValue = np.zeros((N_FEATURES,URM.shape[1]))
itemValue += 0.1

In [ ]:
def predictRating(user, item, features):
    return np.dot(userValue[user,:features+1], itemValue[:features+1,item])

In [ ]:
lrate = 0.01
K = 0.02
def train_user(user, item, rating, feature):
    err = (rating - predictRating(user, item, feature))
    
    userValue[user,feature] += lrate * (err * itemValue[feature,item] - K*userValue[user,feature])
    itemValue[feature,item] += lrate * (err * userValue[user,feature] - K*itemValue[feature, item])

In [ ]:
URM = URM.tocoo()

In [ ]:
%%time
for f in range(N_FEATURES):
    for i in range(N_EPOCHS):
        print("training feature {0}, stage {1}".format(f, i))
        for r,c in zip(URM.row, URM.col):
            train_user(r, c, 1, f)

In [ ]:
userValue

In [ ]:
itemValue

In [ ]:
sum((URM[r,c] - predictRating(r,c,N_FEATURES-1))**2 for r,c in zip(URM.row, URM.col))